@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.headerbanner {
    width: 100%;
    position: relative;
    overflow: hidden; 
}

#hbanner {
    width: 100%;
    height: auto; 
    max-height: 20vh;
    object-fit: cover;
}

#logohb {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    width: 100%; 
    max-width: 150px; 
}

.titlecontainer {
    color: rgb(25, 4, 132);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#abt {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 2vw; 
}