@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    width: 100%;
    position: relative;
    overflow: hidden; 
}

#hbanner {
    width: 100%;
    height: auto; 
    max-height: 20vh;
    object-fit: cover;
}

#logohb {
    position: absolute;
    top: 17%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    width: 100%; 
    max-width: 150px; 
}

.titlecontainer {
    color: rgb(25, 4, 132);
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

#abt {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem; 
}

.popupcontainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 2rem; 
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    font-size: .8rem;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    gap: 1em;
    padding: .7em;
}

.popup span {
    position: absolute;
    opacity: 0;
    animation: slideInOut 10s infinite;
    white-space: nowrap;
}

.popup span:nth-child(1) {
    animation-delay: 0s; 
}

.popup span:nth-child(2) {
    animation-delay: 5s; 
}

@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateX(100%); 
    }
    25% {
        opacity: 1;
        transform: translateX(0); 
    }
    50% {
        opacity: 1;
        transform: translateX(0); 
    }
    75% {
        opacity: 0;
        transform: translateX(-100%); 
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

/* John's Edits */

#order-form
{
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

#order-form > *
{
    margin: 0 0 2vw 0;
}

#details-container, #billing-container, #payment-container
{
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    border-radius: 5px;
    padding-bottom: 1vw;
}

#sizes, #photo-container, #notes
{
    width: 50%;
}

#details-logo
{
    width: 15%; 
    filter: invert(1);
    position: absolute;
    right: 4vw;
    top: auto;
    bottom: auto;
}

#photo-container
{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    width: 50%;
}

fieldset > label, p
{ 
    margin-top: 1vw;
}

#add-file, #remove-file
{
    padding: 0 5px;
    width: 130px;
}

textarea
{
    padding: 1vw;
    resize: vertical;
}

#billing-container
{
    input
    {
        width: 50%;
    }

    textarea
    {
        width: 100%;
    }
}

#payment-container
{
    display: flex;
    flex-direction: row;
}

#gcash, #bank, #proof
{
    label
    {
        font-weight: bold;
    }

    img
    {
        width: 18vw;
        margin: 1vw;
    }

    margin-top: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    width: 20vw;
    margin-right: 2vw;
}

#payment-proof
{
    text-align: center;
    width: 65%;
    margin-top: .5vw;
}

#submit
{
    padding: 0 .5vw;
    font-size: large;
    color: white;
    background-color: black;
    width: 10vw;
    align-self: flex-end;
    border-radius: 5px;
    height: 50px; 
}

#progress
{
    background-color: darkblue;
    position: sticky;
    height: 10px;
    top: 0;
    left: 0;
    z-index: 2;
}

#negative
{
    background-color: white;
    position: sticky;
    height: 10px;
    top: 0;
    margin-left: auto;
    width: 100%;
    z-index: 1;
    margin-top: -10px;
}

#success-container
{
    img 
    {
        width: 30%;
    }

    div 
    {
        display: none;
        align-self: flex-start;
        margin: 10px 0;
        width: 100%;
        height: 10px;
        background-color: white;
    }

    h1 
    {
        display: none;
    }

    #order-message 
    {
        display: none;
    }

    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 2vw;
}
