@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}



.headerbanner {
    width: 100%;
    position: relative;
    overflow: hidden; 
}

#hbanner {
    width: 100%;
    height: auto; 
    max-height: 20vh;
    object-fit: cover;
    display: block;
}

#logohb {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    width: 100%; 
    max-width: 150px; 
}

.titlecontainer {
    color: rgb(25, 4, 132);
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding: 0.5em;
    margin: 0;
    margin-top: .4em;
}

#abt {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem; 
}

.popupcontainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 2rem; 
    padding: 0.5em 1em;
    
    background-color: rgb(25, 4, 132);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    font-size: .8rem;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    gap: 1em;
    padding: .7em;
}

.popup span {
    position: absolute;
    opacity: 0;
    animation: slideInOut 10s infinite;
    white-space: nowrap;
}

.popup span:nth-child(1) {
    animation-delay: 0s; 
}

.popup span:nth-child(2) {
    animation-delay: 5s; 
}

@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateX(100%); 
    }
    25% {
        opacity: 1;
        transform: translateX(0); 
    }
    50% {
        opacity: 1;
        transform: translateX(0); 
    }
    75% {
        opacity: 0;
        transform: translateX(-100%); 
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

/* John's Edits */

#page-content
{
    position: relative;
    z-index: 0; 
}

#page-content::before 
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/trg1.jpg') center/cover no-repeat;
    opacity: 0.14; 
    z-index: -1;
}

#artist
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #9180f025;
    padding: 20px 0;
}

#about
{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #634bec25;
    padding: 20px 0;
}

#artist-container
{
    width: 30%;
    overflow: hidden;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}

#artist-slideshow
{
    animation: artist-animation 20s infinite ease;
    display: flex;
    flex-wrap: nowrap;
}

#artist-slideshow > img
{
    width: 100%;
}

#artist-text
{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    margin: 10px;
}

@keyframes artist-animation 
{
    0%
    {
        transform: translateX(0px);
    }
    25%
    {
        transform: translateX(-100%);
    }
    50%
    {
        transform: translateX(-200%);
    }
    75%
    {
        transform: translateX(-300%);
    }
    100%
    {
        transform: translateX(0px);
    }
}

#about-container
{
    width: 30%;
    overflow: hidden;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}

#about-slideshow
{
    animation: about-animation 50s infinite ease;
    display: flex;
    flex-wrap: nowrap;
}

#about-slideshow > img
{
    width: 100%;
}

#about-text
{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    margin: 10px;
   
}



@keyframes about-animation 
{
    0%{transform: translateX(0);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-200%);}
    30%{transform: translateX(-300%);}
    40%{transform: translateX(-400%);}
    50%{transform: translateX(-500%);}
    60%{transform: translateX(-600%);}
    70%{transform: translateX(-700%);}
    80%{transform: translateX(-800%);}
    90%{transform: translateX(-900%);}
    100%{transform: translateX(0);}
}

@media screen and (max-width: 1260px)
{
    #artist-container
    {
        width: 70%;
    }

    #artist-text
    {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    #about-container
    {
        width: 70%;
    }

    #about-text
    {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

#progress
{
    background-color: darkblue;
    position: sticky;
    height: 10px;
    top: 0;
    left: 0;
    z-index: 1000;
}

#negative
{
    background-color: white;
    position: sticky;
    height: 10px;
    top: 0;
    margin-left: auto;
    width: 100%;
    z-index: 999;
    margin-top: -10px;
}

/* John's Edits */
