@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

body {
    position: relative;
    animation-name: fadeIn;
    animation-duration: .4s;
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards; 
}

body::before {
    content: "";
    background: url('images/trg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}



.headerbanner {
    width: 100%;
    position: relative;
    overflow: hidden; 
}

#hbanner {
    width: 100%;
    height: auto; 
    max-height: 20vh;
    object-fit: cover;
    margin-bottom: 0;
    display: block;
}

#logohb {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    width: 100%; 
    max-width: 150px; 
}


.titlecontainer {
    color: rgb(25, 4, 132);
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 1.5em;
}

#abt {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem; 
}

.popupcontainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 2rem; 
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    font-size: .8rem;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    gap: 1em;
    padding: .7em;
}

.popup span {
    position: absolute;
    opacity: 0;
    animation: slideInOut 10s infinite;
    white-space: nowrap;
}

.popup span:nth-child(1) {
    animation-delay: 0s; 
}

.popup span:nth-child(2) {
    animation-delay: 5s; 
}

@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateX(100%); 
    }
    25% {
        opacity: 1;
        transform: translateX(0); 
    }
    50% {
        opacity: 1;
        transform: translateX(0); 
    }
    75% {
        opacity: 0;
        transform: translateX(-100%); 
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.ordercont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: ; */
    padding: 3em;
    gap: 1rem;
    /* height: 60vh; */
}

.order1 {
    border: 2px solid black;
    padding: 1em;
    border-radius: 10px;
    width: 90%;
    max-width: 50em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
}

.ordercont p a{
    color: black;
    text-align: center; 
    margin: 0 auto; 
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.img-container img{
    width: 100%;
    height: 20em;
    object-fit: contain;
}

.view-details:hover{
    cursor: pointer;
}

.order-popup {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%; 
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; 
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    z-index: 2000; 
    margin-right: .5em;
}

.close-btn:hover {
    color: darkblue; 
}