@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Combo&family=Single+Day&display=swap');

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}

.main {
    position: relative;
    width: 100%; 
    height: 93vh; 
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -40%); 
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%); 

    }
}

#mainimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: none;
}

#centerlogo {
    position: absolute;
    top: 47%; 
    left: 50%; 
    z-index: 1;
    max-width: 80%;
    height:auto; 
    animation-name: fadeIn;
    animation-duration: .7s;
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards; 
}

.lefttext, .righttext {
    color: white;
    position: absolute;
    bottom: 7%; 
    z-index: 2;
    line-height: 1;
    font-size: 1.2rem; 
}

.lefttext {
    left: 2rem;
    text-align: left;
}

.righttext {
    right: 2rem;
    text-align: right;
}

.centertext {
    color: white;
    position: absolute;
    bottom: 15%; 
    z-index: 2;
    line-height: 1;
    text-align: center;
    font-size: 1.3rem;
    
}

#portfoliomain a{
    cursor: pointer;
    transition: color 0.3s ease; 
}

#portfoliomain a:hover {
    color: gray; 
}

#aboutmain a:hover {
    color: gray; 
}

#aboutmain a{
    cursor: pointer;
    transition: color 0.3s ease; 
}

.center a:hover {
    color: gray; 
}

.popupcontainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: auto; 
    padding: 0.5em 1em;
    background-color: rgb(25, 4, 132);
    color: white;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.5);
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    gap: 1em;
    padding: .7em;
}

.popup span {
    position: absolute;
    opacity: 0;
    animation: slideInOut 10s infinite;
    white-space: nowrap;
}

.popup span:nth-child(1) {
    animation-delay: 0s; 
}

.popup span:nth-child(2) {
    animation-delay: 5s; 
}

@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateX(100%); 
    }
    25% {
        opacity: 1;
        transform: translateX(0); 
    }
    50% {
        opacity: 1;
        transform: translateX(0); 
    }
    75% {
        opacity: 0;
        transform: translateX(-100%); 
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.maincontainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding:2rem;
    text-align: center;
}

.maincontent {
    max-width: 60%;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

.maincontent p:nth-child(1) {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Single Day", system-ui;
    color:  rgb(25, 4, 132);
}

.mainorderbutton {
    background-color:  rgb(25, 4, 132);
    padding: 0.5em 1em;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease; 
    margin-top: 1.5em;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}

.mainorderbutton:hover {
    transform: scale(1.1); 
    font-weight: bold;
    background-color: rgb(30, 6, 150);
}

.graphicsmain {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    justify-content: center;
    align-items: center;
    padding: 2rem;  

}

#video,
.slideshow {
    flex: 1 1 300px;
    max-width: 300px; 
    aspect-ratio: 3 / 5;
    overflow: hidden;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.8);
}

#video:hover, .slideshow:hover{
    transform: scale(1.02);
}

.slidefade img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

#video{
    object-fit: cover;
}

.fade {
    animation: fadeEffect 1.5s ease-in-out;
}

.combi {
    position: relative;
    z-index: 0; 
}

.combi::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/trg1.jpg') center/cover no-repeat;
    opacity: 0.14; 
    z-index: -1;
}



@keyframes fadeEffect {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 824px) {
    .maincontent {
        max-width: 90%;
    }
    .maincontent p:nth-child(1) {
        font-size: 2.4rem;
    }
}