@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

body{
    animation-name: fadeIn;
    animation-duration: .4s;
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards; 
}
.center a:hover {
    color: gray; 
}

.headerbanner {
    width: 100%;
    position: relative;
    overflow: hidden; 
}

#hbanner {
    width: 100%;
    height: auto; 
    max-height: 20vh;
    object-fit: cover;
    margin-bottom: 0;
    display: block;
}


#logohb {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    width: 100%; 
    max-width: 150px; 
}

.titlecontainer {
    color: rgb(25, 4, 132);
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    margin-bottom: -.5em;
}

#abt {
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 1.5rem; 
}

.popupcontainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 2rem; 
    padding: 0.5em 1em;
    background-color: rgb(25, 4, 132);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    font-size: .8rem;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    gap: 1em;
    padding: .7em;
}

.popup span {
    position: absolute;
    opacity: 0;
    animation: slideInOut 10s infinite;
    white-space: nowrap;
}

.popup span:nth-child(1) {
    animation-delay: 0s; 
}

.popup span:nth-child(2) {
    animation-delay: 5s; 
}

@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateX(100%); 
    }
    25% {
        opacity: 1;
        transform: translateX(0); 
    }
    50% {
        opacity: 1;
        transform: translateX(0); 
    }
    75% {
        opacity: 0;
        transform: translateX(-100%); 
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

/* John's Edits */

#page-content
{
    padding: 3vw;
    color: rgb(0, 0, 0);
}

input[type = "text"], textarea
{
    padding: 0 5px;
}

#details-container, #billing-container, #payment-container
{
    padding: 2vw;
    border-width: 4px;
    border-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3vw;
}

#order-section
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#size
{
    display: flex;
    flex-wrap: nowrap;
}

#height, #width
{
    width: 50%;
}

#amount, #notes1
{
    width: 100%;
    resize: vertical;
}

input[type = "file"]
{
    color: black;
}

input[type = "file"]:last-child
{
    color: white;
}

#image-section
{
    width: 30%;
    margin: 0 5%;
}

#file-upload
{
    background-color: white;
    padding: 2%;
}

#logo-section
{
    width: 30%;
}

#details-logo
{
    width: 100%;
}

#user-section
{
    width: 47.5%;
    margin-right: 5%;
}

#fname, #lname, #email, #instagram, #number, #address, #notes2
{
    width: 100%;
    resize: vertical;
}

#location-section
{
    width: 47.5%;
}

#gcash-section, #bank-section
{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bank-section
{
    margin: 0 5%;
}

#proof-section
{
    width: 40%;
}

#gcashQR, #bankQR
{
    width: 100%;
    border-radius: 10px;
}

#order-form
{
    display: flex;
    flex-direction: column;
}

#finalized
{
    align-self: center;
}

#submit
{
    margin-top: 5%;
    width: 30%;
    height: 50px;
    align-self: center;
    border-radius: 10px;
    transition: .2s ease;
    border: 3px solid white;
}

#submit:hover
{
    background-color: black;
    color: white;
    border: 3px solid white;
}

@media screen and (max-width: 635px)
{
    #details-container, #billing-container
    {
        flex-direction: column;
    }

    #order-section
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #image-section
    {
        width: 100%;
        margin: 0;
    }

    #logo-section
    {
        width: 100%;
    }

    #user-section
    {
        width: 100%;
        margin: 0;
    }

    #location-section
    {
        width: 100%;
    }

    #gcash-section, #bank-section, #proof-section
    {
        margin: 0;
        width: 100%;
        margin-bottom: 5%;
    }

    #submit
    {
        width: 100%;
    }
}