@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

body {
    position: relative;
    animation-name: fadeIn;
    animation-duration: .4s;
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards; 
}

body::before {
    content: "";
    background: url('images/trg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.14;
    z-index: -1;
}

.headerbanner {
    width: 100%;
    position: relative;
    overflow: hidden; 
}

#hbanner {
    width: 100%;
    height: auto; 
    max-height: 20vh;
    object-fit: cover;
    display: block;
}

#logohb {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    width: 100%; 
    max-width: 150px; 
}

.titlecontainer {
    color: rgb(25, 4, 132);
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding: 0.5em;
    margin: 0;
    margin-top: .4em;
}

#abt {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem; 
}

.popupcontainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 2rem; 
    padding: 0.5em 1em;
    background-color: rgb(25, 4, 132);
    color: white;;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    font-size: .8rem;
    
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    gap: 1em;
    padding: .7em;
}

.popup span {
    position: absolute;
    opacity: 0;
    animation: slideInOut 10s infinite;
    white-space: nowrap;
}

.popup span:nth-child(1) {
    animation-delay: 0s; 
}

.popup span:nth-child(2) {
    animation-delay: 5s; 
}

@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateX(100%); 
    }
    25% {
        opacity: 1;
        transform: translateX(0); 
    }
    50% {
        opacity: 1;
        transform: translateX(0); 
    }
    75% {
        opacity: 0;
        transform: translateX(-100%); 
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.discontainer{
    /* background-color: blueviolet; */
    height: 4rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .8rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}


.disclaimer{
    max-width: 70%;
    border: 2px solid black;
    padding: .5rem;
    border-radius: 10px;
}

.ocont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.oorderbutton {
    text-align: center;
    width: 10rem;
    background-color:  rgb(25, 4, 132);
    padding: 0.5em 1em;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease; 
    margin-top: 1.5em;
}

.oorderbutton:hover {
    transform: scale(1.1); 
    font-weight: bold;
    background-color: rgb(30, 6, 150);
}

.pfolcontainer {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    gap: 30px;
    padding: 1.5rem;
    line-height: 1.3rem;
}

.pfolcontainer img {
    width: 80%;
    height: auto;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border: 3px solid black;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

}

.pfolcontainer div {
    text-align: center;
}

.pfolcontainer img:hover{
    transform: scale(1.01);
}

@media (max-width: 635px) {
    .pfolcontainer {
        grid-template-columns: 1fr; 
        padding: 1rem;
    }
   
}