@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Combo&family=Single+Day&display=swap');

*,
html {
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.top-panel {
    background-color: #000927;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.side-panel {
    background-color: #001149;
    width: 15%;
    height: 90vh;
}

.side-buttons {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.side-buttons.active {
    background-color: #001C79;
    color: white;
}

.main-panel {
    background-color: #f1f3f2;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: 90vh;
    justify-content: center;
    overflow-y: scroll;
}

.title-text {
    width: 95%;
    color: #001149;
    font-weight: 600;
    height: 5%;
    margin: 1rem;
    margin-bottom: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-container, .bottom-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    overflow-x: auto;
    overflow-y: hidden;
}

.bottom-container {
    height: 60%;
    margin-top: 0.5rem;
    width: 47.5%;
}

.small-cards {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 22%;
    margin: 1rem;
    min-width: 130px;
    border-radius: 10px;
}

.small-card-title {
    display: inline-block;
    width: 100%;
    font-weight: 600;
    color: #001457;
    padding: 0.5rem;
}

.small-card-contents {
    width: 40%;
    padding: 1rem;
}

.small-card-icon {
    width: 30%;
    padding: 0.5rem;
}

.small-card-icon img {
    width: 100%;
}

.big-card {
    width: 47.5%;
    background-color: white;
    height: 60%;
    border-radius: 10px;
}

.big-card-title {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 0rem 1rem;
    font-weight: 600;
    color: #001457;
}

.big-card-title button {
    background-color: #001c79;
    color: white;
    border-radius: 10px;
    border: white 1px solid;
    padding: 0.5rem;
    font-weight: 600;
}

.eachOrder-container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:  0 1rem;
    width: 27%;
    height: 100%;
}

.eachOrder-img-container {
    display: flex;
    justify-content: center;
    width: 38%;
    padding: 0 0.5rem;
}

.eachOrder-img-container img {
    width: 100%;
    object-fit: contain;
}

.eachOrder-text {
    display: block;
    flex-wrap: wrap;
    width: 40%;
    padding: 0 0.5rem;
    word-break: break-all;
    overflow-y: auto;
    height: 95%;
    margin: 0.5rem;
}

.message-card {
    background-color: white;
    width: %;
    height: 100%;
    min-width: 430px;
    margin: 1rem 0rem;
    border-radius: 10px;
    overflow: auto;
}

.message-card-title {
    background-color: #001c79;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding: 0.5rem 0;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}

.message-card-title button {
    background-color: white;
    color: #001c79;
    border-radius: 10px;
    border: white 1px solid;
    padding: 0.5rem;
}

.message-flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.each-message {
    display: flex;
    width: 100%;
    flex-wrap:wrap;
}

.each-message-container {
    width: 100%;
}

.each-message-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.each-message-title h4, .each-message-title h5 {
    margin: 0.3rem 0.5rem;
}

.each-message-preview {
    padding: 0 1rem;
    font-size: 0.9rem;
}

.each-message-preview h5 {
    margin: 0;
}

.most-ordered {
    background-color: coral;
    width: 27%;
    height: 100%;
    min-width: 165px;
    margin: 1rem 0;
    border-radius: 10px;
}

.icon {
    width: 2em;
    margin: 0.5rem;
}

.logo-container {
    height: 70%;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 2em;
}

#tiyarjiz {
    height: 80%;
    margin-right: 1em;
}

#profile {
    height: 40%;
    margin: 1rem;
    margin-right: 2em;
}

@media screen and (max-width: 768px) {
    .side-panel {
        width: 100%;
        height: auto;
    }

    .main-panel {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .top-container, .bottom-container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .small-cards, .big-card {
        width: 100%;
        margin: 0.5rem 0;
    }

    .bottom-container {
        width: 100%;
        height: auto;
    }

    .most-ordered, .small-cards {
        width: 100%;
    }

    .eachOrder-container {
        width: 100%;
    }

    .message-card {
        width: 100%;
    }

    .message-flex-container {
        flex-direction: column;
    }
}
